# Ignore large files that cannot be tracked by GitHub
Final Portfolio/George_Smith_FinalPresentationSlidesv2.pptx
IST 719 (Data Vis)/Data Points Visualization That Means Something by Nathan Yau (z-lib.org).pdf
